<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brand_management>
            <general>
                <route_to_brand>brands</route_to_brand>
            </general>
            <brand_visibility>
                <pdp>0</pdp>
                <tile>0</tile>
                <cart>0</cart>
                <minicart>0</minicart>
                <order_summary>0</order_summary>
                <search_autocomplete>0</search_autocomplete>
            </brand_visibility>
            <sitemap>
                <enabled>1</enabled>
                <priority>0.5</priority>
                <changefreq>daily</changefreq>
            </sitemap>
        </brand_management>
    </default>
</config>
