<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brand_management>
            <general>
                <route_to_brand>brands</route_to_brand>
                <show_safety_regulations>0</show_safety_regulations>
            </general>
            <brand_visibility>
                <pdp>0</pdp>
                <tile>0</tile>
                <cart>0</cart>
                <minicart>0</minicart>
                <order_summary>0</order_summary>
                <search_autocomplete>0</search_autocomplete>
                <search_max_result>5</search_max_result>
            </brand_visibility>
            <sitemap>
                <enabled>1</enabled>
                <priority>0.5</priority>
                <changefreq>daily</changefreq>
            </sitemap>
        </brand_management>

        <smile_elasticsuite_autocomplete_settings>
            <brand_autocomplete>
                <max_size>5</max_size>
            </brand_autocomplete>
        </smile_elasticsuite_autocomplete_settings>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <media_gallery_image_folders>
                        <wysiwyg_image_folder>brands</wysiwyg_image_folder>
                    </media_gallery_image_folders>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
</config>
