<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Api\ImageContentValidatorInterface"
                type="MageSuite\BrandManagement\Validator\ImageContentValidator" />
    <preference for="MageSuite\BrandManagement\Api\BrandsRepositoryInterface"
                type="MageSuite\BrandManagement\Model\BrandsRepository" />
    <preference for="MageSuite\BrandManagement\Api\Data\BrandsInterface"
                type="MageSuite\BrandManagement\Model\Brands" />

    <type name="Magento\Eav\Model\Entity\AttributeCache">
        <arguments>
            <argument name="unsupportedTypes" xsi:type="array">
                <item name="brands" xsi:type="string">brands</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\UrlInterface">
        <plugin name="canonical_url_fix" type="MageSuite\BrandManagement\Plugin\CanonicalUrlFix" sortOrder="10" />
    </type>

    <preference for="MageSuite\BrandManagement\Api\Data\BrandImagesInterface"
                type="MageSuite\BrandManagement\Model\BrandImages" />

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="brandLinksProvider" xsi:type="object">MageSuite\BrandManagement\Model\ItemProvider\BrandLinks</item>
            </argument>
        </arguments>
    </type>
</config>
