<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="MageSuite_BrandManagement::brand_menu"
                title="Brands"
                module="MageSuite_BrandManagement"
                sortOrder="40"
                parent="Magento_Catalog::inventory"
                action="brands/grid/index"
                resource="Magento_Backend::content" />
    </menu>
</config>