<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="brand_management" translate="label" type="text" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Brands</label>
            <tab>magesuite</tab>
            <resource>MageSuite_BrandManagement::Brands</resource>
            <group id="brand_visibility" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Show brand on:</label>
                <field id="pdp" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to yes brand name will be displayed next to product name on PDP.</comment>
                </field>
                <field id="tile" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Tile</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to yes brand name will be displayed next to product name on product tiles.</comment>
                </field>
                <field id="cart" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cart view</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to yes brand name will be displayed next to product name on cart view.</comment>
                </field>
                <field id="minicart" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minicart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to yes brand name will be displayed next to product name in minicart.</comment>
                </field>
                <field id="order_summary" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order summary</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to yes brand name will be displayed next to product in order summary.</comment>
                </field>
                <field id="search_autocomplete" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search autocomplete</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to yes brand name will be displayed next to product in search autocompleter.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
